dist
build
lib
reports
.vscode
*.xpr
.ant-targets-build.xml

validation/schematron/QS 2017/
validation/schematron/ubl-cn/XRechnung-UBL-validation.sch
validation/schematron/ubl-inv/XRechnung-UBL-validation.sch
bis-material
